/* === Classes For Background Colour ====*/
.registration-btns > a i:after,
.addbar > a,
.fact > span:before,
.reviews-carousel .owl-nav > div:hover,
.big-blog-thumb span:after,
.contact-form button,
.signup > button,
.btn,
.layer4,
.history-carousel .owl-nav > div:hover,
.progress-bar,
.date:before,
.service > span:after,
.fancy-parallax > a:hover,
.welcome-info > span,
.handle3,
.table-data > a:hover,
.team-social > a,
.gallery-hover > h4:before,
.popup-title,
.popup form button,
.tagcloud > a:hover{
	background-color: #ec5938;
}

/* === Classes For Text Colour ====*/
.info strong,
.social-links span,
.social-links a:hover,
.service-detail > span,
.service-box:hover i,
.service-box:hover .service-detail h4,
.title > span strong,
.title h2 span,
.story-detail > span,
.lawyer-info > span,
.fact > span,
.practice-box span,
.reviewer-name > span,
.member-info > span,
.member-info > h3 a:hover,
.social-icons > a:hover,
.big-blog-wrap > h3 a:hover,
.big-blog-wrap > ul li,
.post-date,
.widget li a:hover,
.bottom-footer ul li a:hover,
.bottom-footer p a,
.layer2 span,
.layer4:hover,
.side-title > h2 span,
.year > span,
.progress-percent span,
.page-name h1 span,
.breadcrumbs > li a:hover,
.post-detail > h4 a:hover,
.post-detail > ul li,
.case-lawyer > i,
.case-detail-info > span,
.service > h4 a:hover,
.fancy-parallax > h4 i,
.welcome-text > span,
.welcome-text > strong i,
.welcome-text > a:hover,
.welcome-info > strong i,
.style2 .service > h4,
.practice-detail > h3 a:hover,
.practice-detail > span,
.history-item > span,
.table-info-inner > span,
.table-info-inner > strong i,
.table-info-inner > strong span,
.blog-text > ul li,
.blog-date,
.team-description > span,
nav > ul > li ul li:hover > a,
.responsive-menu ul li:hover > a,
h3.simple-title i,
.post-author-detail h4.author-name,
.popup-form form p a,
.widget-post > h4 a:hover,
.widget-post > span{
	color:  #ec5938;
}
